body, html {
	height:100%;
	width:100%;
}

ul{
	list-style-type:square;
}

a{
	font-size:15px;
	text-decoration:none;
	color:blue;
}

a:hover{
	color:red;
	text-decoration:underline;
}

h1{
	text-align:center;
}

h2{
	font-size:30px;
	font-family:arial;
	text-decoration:underline;
}

h4{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

img{
	display: block;
	margin:0 auto;
}

label{
	margin: -3px 0px 5px 0px;
}

input[type="text"]{
	width:30%;
	margin:5px;
}

input[type="radio"]{
	margin: 0px 5px 0px 20px;
}

table{
	border-collapse: collapse;
	border:3px solid black;
	margin:30px auto;
	width:80%;
	color:red;
	font-family: monospace;
	font-size: 25px;
	text-align: center;
	table-layout: fixed;
}

th{
	background-color: blue;
	color: white;
	border:2px solid black;
	padding:7px 0px;
}

td{
	border:2px solid black;
	padding:5px 0px;
}

tr:nth-child(even){background-color: lightgray}


/* ------------------- Barra Superior ----------------------- */
.titulo{
	display:flex;
	background-color:powderblue;
	color:yellow;
	width:100%;
	height:10%;
	top:0;
	left:0;
	z-index:1;
	/*-webkit-text-stroke-width: 2px;*/
	/*-webkit-text-stroke-color: black;*/
}

.t1{
	position:fixed;
	padding-left:10px;
}

.t2{
	position:relative;
	margin-top:-1px;
}

.logo{
	width:100px;
	height:50px;
	padding:5px 0 10px;
	float:left;
	position:relative;
	right:5%;
}

.topico{
	display:inline;
	margin:0 25px;
	top:50%;
	position:relative;
	right:50px;
}

.topico:hover{
	cursor:pointer;
	color:#ffff99;
}

.gabarito{
	float:center;
}


/* ------------------- Primeira parte do menu ------------------- */
#sumario{
	height:80%;
	padding-bottom:100px;
	left:0;
	top:10%;
	background-image:url("img/menu.jpg");
	display:flex;
}

#primeiro{
	width:40%;
	height:70%;
	background-color:lightblue;
	padding: 0px 20px;
	border:5px solid #8080ff;
	margin-top:60px;
	float:left;
	text-align:center;
	position:relative;
	left:2%;
	font-size:15px;
	color:#505050;
	font-family:nunito,verdana,helvetica;
	font-weight:bold;
}

#segundo{
	width:45%;
	height:80%;
	top:5%;
	left:5%;
	margin-top:30px;
	margin-left:50px;
	text-align:center;
	float:right;
	position:relative;
	display:inline-block;
}

#imagem{
	margin:0 auto;
	height:400px;
	width:500px;
}


/* ------------------------ Segunda parte do menu ------------------------ */
.botoes{
	display:flex;
	margin-bottom:10px;
}

#main{
	background-image:url("img/botoes.jpg");
	height:40%;
	left:0;
	top:90%;
}

.separar{
	margin:0 5px;
}


/* -------------------------- Ajuste do conteúdo ------------------------- */
.ajustar{
	position:absolute;
	width:100%;
}

.centro{
	display: flex;
	align-items: center;
	justify-content: center;
}

.align{
	margin:0;
	padding:0;
	top:50%;
	transform: translateY(-50%);
	text-align:center;
	position:relative;
}

#fim{
	top:140%;
	height:20%;
}

#continuar{
	top:160%;
}


/* ------------------------- Formatação de texto ------------------------- */
.azul{
	color:#6666ff;
	font-weight:bold;
}

.verde{
	color:#53c653;
	font-weight:bold;
}

.texto{
	width:60%;
	position:relative;
	text-align:center;
}

.paragrafo{
	font-size:15px;
	color:#505050;
	font-family:nunito,verdana,helvetica;
	text-align:center;
	font-weight:bold;
}

.fundo{
	background-image: url("img/white.jpg");
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}

.fundo2{
	background-image: url("img/fundo.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	top:100%;
}

.importante{
	font-weight:bold;
	text-decoration:underline;
}

.ref{
	color:#ff4d4d;
	font-weight:bold;
	font-size:15px;
	font-family:nunito,verdana,helvetica;
}

.input{
	position:relative;
	margin:20px 0px;
}

.horizontal{
	justify-content:center;
	display:flex;
	position:relative;
	left:-2%;
	margin:30px;
}

.radio{
	display:inline;
}

.caixa{
	display:block;
	background:lightblue;
	color:red;
	padding:15px;
	margin:15px;
	cursor:pointer;
	text-decoration:none;
	width:300px;
	text-align:center;
	margin:20px auto 0;
	border-radius:5px;
	font-size:30px;
	font-family:helvetica;
}

.caixa:hover{
	background:lightgreen;
}

.hidden{
	display:none;
}

.show{
	position:fixed;
	top:2%;
	left:50%;
    transform:translate(-50%, 0);
	width:50%;
	height:88%;
	text-align:center;
	align-items: center;
	justify-content: center;
	background-color:white;
	border:3px solid black;
	padding:20px;
	z-index:1000;
	overflow:scroll;
}

.agrupar{
	width:70%;
	margin:30px auto 0;
	border:3px solid lightblue;
	text-align:center;
	text-decoration:none;
	background-color:white;
}




/* ------------------------ Botão --------------------------- */
.botao{
	background:lightblue;
	color:red;
	padding:15px;
	cursor:pointer;
	text-decoration:none;
	width:320px;
	text-align:center;
	border-radius:5px;
	font-size:30px;
	font-family:helvetica;
}
.botao:hover{
	background:lightgreen;
}
.tipo1{
	display:block;
	margin:15px;
}
.tipo2{
	display:inline-block;
	position:relative;
	justify-content:center;
	align-items:center;
}