body, html {
  height: 100%;
}

#fundo {
  background-image: url("fundo.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

#intro{
	font-size:30px;
	font-family:arial;
	text-align: center;
	font-weight: bold;
}

.texto{
	color:green;
	font-size:25px;
}

.centro{
	display: flex;
	align-items: center;
	justify-content: center;
}

.mensagem{
	background-color: lightyellow;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 5px solid lightgreen;
	padding: 0px 50px 0px 50px;
}

p{
	font-size:30px;
	font-family:arial;
	
}

h1{
	background-color:yellow;
	text-align:center;
	font-size:40px;
	font-family:arial;
	border:5px solid powderblue;
	padding:50px;
	margin:20px;
}

h2{
	font-size:30px;
	font-family:arial;
	text-decoration:underline;
}